{% extends 'base.html' %}

{% block current %}
  <div class="navlink"><a href="{{url_for('blog.view_blog')}}">Blog</a></div>
  <div class="navlink"><a href="{{url_for('portfolio.view_portfolio')}}">Projects</a></div>
{% endblock %}

{% block content %}
<div class="portfolio">
  <div>
    <h1>Under Construction</h1>
    <p>I can't wait for the big reveal!</p>
    <img class="portfolio-image" src="https://images.freeimages.com/images/large-previews/7a4/steel-rebar-1189002.jpg" alt="Construction">
  </div>
</div>
{% endblock %}
