{% extends 'base.html' %}

{% block head %}
<script>
function sendRequest(event) {
  var xhr = new XMLHttpRequest();
  var url = "{{url_for('projects.submit_sds')}}";
  var form = document.forms[0];

  formData = new FormData(form);

  xhr.open('POST', url, true);

  xhr.onload = function() {
    if(this.status == 200) {
      displayResults(JSON.parse(this.responseText).data);
    }
  }

  xhr.send(formData);
}
</script>
{% endblock %}

{% block current %}
  <div class="navlink"><a href="{{url_for('blog.view_blog')}}">Blog</a></div>
  <div class="navlink"><a href="{{url_for('projects.view_projects')}}">Projects</a></div>
{% endblock %}

{% block content %}
<form onsubmit="event.preventDefault(); sendRequest(event);" method="POST" enctype='multipart/form-data'>
  {{form.hidden_tag()}}
<h1 style="padding-top: 50px;">SDS Data Extractor</h1>
<ol>
  <li style="color: #306998; font-weight: bold;">Select an SDS file for data extraction:</li>
    {{form.sds_file}}
    <div id="test_links">
      <p>Here are a few for testing:</p>
      <ul>
        <li><a target="_blank" href="https://www.sigmaaldrich.com/MSDS/MSDS/DisplayMSDSPage.do?country=US&language=en&productNumber=L4509&brand=SIAL&PageToGoToURL=https%3A%2F%2Fwww.sigmaaldrich.com%2Fcatalog%2Fsearch%3Fterm%3DL4509%26interface%3DAll%26N%3D0%26mode%3Dmatch%2520partialmax%26lang%3Den%26region%3DUS%26focus%3Dproduct">Sodium dodecyl sulfate - Sigma Aldrich</a></li>
        <li><a target="_blank" href="https://www.sigmaaldrich.com/MSDS/MSDS/DisplayMSDSPage.do?country=US&language=en&productNumber=E7023&brand=SIGALD&PageToGoToURL=https%3A%2F%2Fwww.sigmaaldrich.com%2Fcatalog%2Fsearch%3Fterm%3DEthyl%2Balcohol%252C%2BPure%26interface%3DProduct%2520Name%26N%3D0%2B%26mode%3Dmode%2520matchpartialmax%26lang%3Den%26region%3DUS%26focus%3DproductN%3D0%2520220003048%2520219853286%2520219853269">Ethyl alcohol, pure - Sigma Aldrich</a></li>
      </ul>
    </div>
    <br>
  <li style="color: #306998; font-weight: bold;">Choose which fields you want to have extracted:</li>
    <div>
      <h4>Select All Fields<input type="checkbox" id="select_all" onchange="selectAll()"></h4>
    </div>
    <div class="check_boxes">
      {% for field in form %}
      {% if field.id not in ['submit', 'sds_file', 'csrf_token'] %}
      <p style="padding: 5px;">{{field.label}}:{{field(class='category')}}</p>
      {% endif %}
      {% endfor %}
    </div>
    <br>
  <li style="color: #306998; font-weight: bold;">Click submit:</li>
    {{form.submit(style="height: 75px; width: 200px;")}}
</ol>
</form>
<div id="requested_sds_data">
  <div class="category_output_list">
    <h1 class="category_item">Field</h1>
    <h1 class="category_item">Data</h1>
    <div></div>
  </div>
</div>
{% endblock %}
