<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://s3.us-east-2.amazonaws.com/ari-blog-assets/me_Mp7_icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mystyle.css')}}">
  <script src="{{url_for('static', filename='myscripts.js')}}"></script>
  <script>

  </script>
  </script>
  {% block head %}
  {% endblock %}
</head>

  <body>
    <script>
      document.body.className = 'fade';
    </script>

    <div class="header-line"></div>
    <div class="container">

      <div class="navbar">
        <div class="header">
          <p class="header-title"><a href="{{url_for('home.index')}}">Aris Stepe</a></p>
          <p class="header-subtitle">Web Developer</p>
        </div>
        {% block current %}

        {% endblock %}
        <div class="navlink"><a target="_blank" href="https://www.linkedin.com/in/aris-stepe-877828159/">LinkedIn</a></div>
        <div class="navlink"><a target="_blank" href="https://github.com/astepe">GitHub</a></div>
        <div class="underline"></div>
      </div>
    {% block content %}

    {% endblock %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function(e) {
        document.body.className = '';
      });
      window.onbeforeunload = fadeOutEffect(e);
    </script>
  </body>
</html>
