{% extends 'base.html' %}

{% block current %}
<div class="navlink"><a href="{{url_for('blog.view_blog')}}">Blog</a></div>
<div class="navlink"><a href="{{url_for('projects.view_projects')}}">Projects</a></div>
{% endblock %}

{% block content %}

  {% for post in posts %}
  <div class="blog">
      <br>
      <a href="{{url_for('blueprints.view_blog_post', id=post.id)}}"><img class="blog-image" src={{post.image}} alt="Card image cap"></a>
      <a href="{{url_for('blueprints.view_blog_post', id=post.id)}}"><h1>{{post.title}}</h1></a>
      <p style="color: #c9c9c9;">{{post.date.strftime('%B %d, %Y')}} -</p>
      <p class="body">{{post.summary|blog_filter|safe}}<a href="{{url_for('blueprints.view_blog_post', id=post.id)}}">read more...</a></p>
  </div>
  {% endfor %}

{% endblock %}
