{% extends 'base.html' %}

{% block current %}
<div class="navlink"><a href="{{url_for('blog.view_blog')}}">Blog</a></div>
<div class="navlink"><a href="{{url_for('projects.submit_sds')}}">Projects</a></div>
{% endblock %}

{% block content %}
<div class="introduction">
    <div><p>Hi, I'm a web developer living in New York.</p>
    <p>I build backend web services and web APIs.</p></div>
    <div style="align-items: center; font-size: 25px;"><blockquote><div class="quote-bar"></div>“It is impossible for a man to learn what he thinks he already knows.”<br> ― Epictetus</blockquote></div>
</div>
{% endblock %}
