{% extends 'base.html' %}

{% block current %}
  <div class="navlink"><a href="{{url_for('blueprints.view_blog')}}">Blog</a></div>
  <div class="navlink"><a href="{{url_for('projects.view_projects')}}">Projects</a></div>
{% endblock %}

{% block content %}
<div class="projects">
  <div>
    <h1>Under Construction</h1>
    <p>For now, check out my <a href="{{url_for('projects.submit_sds')}}">SDS Extractor</a>!</p>
    <p>I can't wait for the big reveal!</p>
    <img class="projects-image" src="https://images.freeimages.com/images/large-previews/7a4/steel-rebar-1189002.jpg" alt="Construction">
  </div>
</div>
{% endblock %}
