{% extends 'base.html' %}

{% block head %}
<style>
#dropbox {
border: 5px solid blue;
width:  200px;
height: 100px;
}
</style>
<script>
function sendRequest(event) {
  var xhr = new XMLHttpRequest();
  var url = "{{url_for('projects.submit_sds')}}";
  var form = document.forms[0];

  formData = new FormData(form);

  xhr.open('POST', url, true);

  xhr.onload = function() {
    if(this.status == 200) {
      displayResults(JSON.parse(this.responseText).data);
      let submit = document.getElementById("submit")
      window.scrollTo({
          top: submit.offsetTop + submit.offsetHeight,
          behavior: 'smooth'
        });
    }
  }

  xhr.send(formData);
}
</script>
{% endblock %}

{% block current %}
  <div class="navlink"><a href="{{url_for('blueprints.view_blog')}}">Blog</a></div>
  <div class="navlink"><a href="{{url_for('projects.view_projects')}}">Projects</a></div>
{% endblock %}

{% block content %}
<form onsubmit="event.preventDefault(); sendRequest(event);" method="POST" enctype='multipart/form-data'>
  {{form.hidden_tag()}}
<div id="dropbox">
  <p>Drag one or more files to this Drop Zone ...</p>
</div>
<h1 style="padding-top: 50px;">SDS Data Extractor</h1>
<ol>
  <li style="color: #306998; font-weight: bold;">Select an SDS file for data extraction:</li>
    {{form.sds_file}}
    <div id="test_links">
      <a style="text-decoration: underline;" target="_blank" href="https://www.sigmaaldrich.com/MSDS/MSDS/DisplayMSDSPage.do?country=US&amp;language=en&amp;productNumber=L4509&amp;brand=SIAL&amp;PageToGoToURL=https%3A%2F%2Fwww.sigmaaldrich.com%2Fcatalog%2Fsearch%3Fterm%3DL4509%26interface%3DAll%26N%3D0%26mode%3Dmatch%2520partialmax%26lang%3Den%26region%3DUS%26focus%3Dproduct">Download an SDS here</a>
    </div>
    <br>
  <li style="color: #306998; font-weight: bold;">Choose which fields you want to have extracted:</li>
    <div>
      <h4><label class="check_box_label" for="select_all">Select All Fields</label><input class="check_box" type="checkbox" id="select_all" onchange="selectAll()"></h4>
    </div>
    <div class="check_boxes">
      {% for field in form %}
      {% if field.id not in ['submit', 'sds_file', 'csrf_token'] %}
        <p>{{field.label(class='check_box_label')}}{{field(class='check_box')}}</p>
      {% endif %}
      {% endfor %}
    </div>
    <br>
  <li style="color: #306998; font-weight: bold;">Click submit:</li>
    {{form.submit(style="height: 75px; width: 200px;")}}
</ol>
</form>
<div id="requested_sds_data">
  <div class="category_output_list">
    <h1 class="category_item">Field</h1>
    <h1 class="category_item">Data</h1>
    <div></div>
  </div>
</div>
<script src="{{url_for('static', filename='highlightSelectedCheckBox.js')}}"></script>
<script>
  function handleFiles(files) {

  }
  function dragenter(e) {
    e.stopPropagation();
    e.preventDefault();
  }

  function dragover(e) {
    e.stopPropagation();
    e.preventDefault();
  }
  function drop(e) {
    e.stopPropagation();
    e.preventDefault();

    const dt = e.dataTransfer;
    const files = dt.files;

    handleFiles(files);
  }
  let dropbox;

  dropbox = document.getElementById("dropbox");
  dropbox.addEventListener("dragenter", dragenter, false);
  dropbox.addEventListener("dragover", dragover, false);
  dropbox.addEventListener("drop", drop, false);
</script>
{% endblock %}
